<%= render "form" %>
<div>current temperature: <%= current_temperature %></div>
<div>high: <%= high_temperature %></div>
<div>low: <%= low_temperature %></div>
<div>
  <p>extended forecast:</p>
  <% extended_forecast.each do |daily| %>
    <p><%= daily[:name] %>: <%= daily[:detailed_forecast] %></p>
  <% end %>
</div>
<% if from_cache %>
  <div>CONTENT FROM CACHE</div>
<% end %>